body{
    background-color: #333;
}

.Header{
    color: rgb(61, 172, 109);
}

.Header h1{
    text-decoration: none;
}

.Header p{
    text-decoration: none;
}

.Biography{
    float: right;
    width: 200px;
}

.Project1 fieldset{
    width: 500px;
    margin-right: 200px;
    border-style: solid;
    border-color: #185533;
    border-radius: 10px;
    border-width: 5px;
    color: #2e8b57;
}

.Project1 legend{
    font-size: larger;
}

.Project1 p{
    text-decoration: none;
}

.Project1 a{
    color: seagreen;
}
